button, .button {
		text-transform: uppercase;
	//	@extend .small-caps;
		width: 300px;
		background-color: $background-gray;
		//opacity: 0;
		color: $orange;
		font-weight: bold;
		height: 40px;
		text-align: center;
		margin: auto;
		border: 2px solid $orange;
		display: block;
		transition: 0.5s ease;
		padding: 6px; //for new instagram button link, jul 6 2016
		letter-spacing: .5px; //for new instagram button link, jul 6 2016


		&:hover {
			background-color: $orange;

			color: $white;
			cursor: pointer;
		}
	}
