.main-hero {

	display: flex;
	min-height:400px;
	height: 100%;
	width:100%;
	margin-bottom: -80px;
	background-color: $white;
	
	.main-hero-message {
		//height: 80vh;
		//width: 80vw;
		margin: auto; 
		text-align: center;
		//background-color: $active-orange;
		//background-image: url(../images/bitmap-thundernixon2015wp-01.svg) repeat;

		// background-color: red;
	}

	h1 {
		font-size:300px;
		font-weight: 600;
		color: $orange;
		text-rendering: optimizeLegibility;
	}

	p {
		color: $navy;


		//put the text over top of the "Yo"
		  width: 200px;
		  margin: 0 auto;
		  text-align: left;
		  font-weight: 600;

		  font-size: 1.5em;
		  position: relative;
		  top: -218px;
		  left: -10px;
	}
}