.main-hero {

	display: flex;
	min-height:400px;
	height: 100%;
	width:100%;
	margin-bottom: -80px;
	background-color: $white;
	align-items: center;
  justify-content: center;
  flex-direction: column;

	@include breakpoint(tablet) {
		background-image: url(../images/yo-3.png);
		background-size: auto 65vh;
		background-repeat: no-repeat;
		background-position: 50% 40%;
	}
	//
	// #starfield {
	// 	padding:0;
	// 	margin:0;
	// 	width:100%;
	// 	height:100%;
	// }

	.main-hero-message {
		//height: 80vh;
		//width: 80vw;
		margin: auto;
		text-align: center;
		//background-color: $active-orange;
		//background-image: url(../images/bitmap-thundernixon2015wp-01.svg) repeat;

		// background-color: red;
		display: flex;
		align-items: center;
  		justify-content: center;
	}

	#yo-hero {
		position: relative;
		top: 10vh;
		left: 1vw;
		width: 100% !important; //this is to override the lazyline painter without getting into too much javascript
		height: 100% !important; //this is to override the lazyline painter without getting into too much javascript
		max-width: 90vw;
		max-height: 80vh;

		svg {
			// max-width: 90vw;
			// max-height: 80vh;
			width: 100%;
			height: 100%;
			@include breakpoint(tablet) {
				display: none;
			}
		}
	}

	h1 {
		font-size:400px;
		font-weight: 600;
		color: $background-gray;
		text-rendering: optimizeLegibility;
	}

	.about__main-hero {
    margin: auto;
		width: 540px; //347px
    position: relative;
		top: -41vh; //-43em
		left: 2vw;
		transition: ease .25s;
		@include breakpoint(tablet) {
			top: -38vh;
		}
		@include breakpoint(phone) {
			width: 75%;
			top: -42vh;
			left: 0vw;
		}
		@include breakpoint(tiny-window) {
			width: 68%;
			top: -40vh;
		}
	}

	p {
		color: $body-text; //was $navy //$orange
		//text-shadow: 2px 2px 0 $white;


		//put the text over top of the "Yo"
		//width: 347px; //300px
		margin: 0 auto;
		text-align: left;
		font-weight: 600;
		font-size: 2em;
		line-height: 1.25em;
		// position: relative;
		// top: -43vh;
		// left: 1vw;

		// position: relative;
		// top: -9em;
		// left: -10px;

		@include breakpoint(phone) {
			// width: 80%;
			font-size: 1.25em; //1.563em
			// top: -37.75vh;
			// left: 0vw;
		}
		@include breakpoint(tiny-window) {
			// width: 86%;
			font-size: 1.25em;
			// top: -40vh;
		}
	}
}
