.main-nav {
	//background-color: $orange; //more minimalist approach
	//background-color: $white; //more minimalist approach
	//border-top: 2px solid $navy; //more minimalist approach
	border-top: 2px solid $orange; //slightly more orange approach
	background-color: $background-gray; //slightly more orange approach
	height: 40px;
	display: flex;
	align-items: center;

	ul {
		list-style: none;
		text-align: center;
		display: flex;
		// width: 100%;
  		align-items: center;
  		justify-content: space-between;
  		//padding: 0;
  		margin-bottom: 0;
  		height: 100%;

  		a {
			//color: $white; //more minimalist approach
			//color: $navy; //more minimalist approach
			color: $orange; //slightly more orange approach
			font-weight: 600;
			height: 100%;
			flex-grow:1;
			//width: 100%;
			// margin: auto;
			//background-color: $orange; //more minimalist approach
			//background-color: $white; //more minimalist approach
			background-color: $background-gray; //slightly more orange approach
			transition: 0.25s ease;
			text-decoration: none;
			border-top: solid 0px $background-gray;
			//padding:0 15px;


			//the following three styles make the tab "inactive" by default
			flex-grow:1;
			transition: 0.25s ease;
			padding: 0;

			&:hover {
				text-decoration: none;
				//color: $white; //more minimalist approach
				//color: $orange; //more minimalist approach
				color: $navy; //slightly more orange approach
				// background-color: #ff5000;
				//border-bottom: solid 2px $orange;
				border-top: solid 2px $orange;//slightly more orange approach
				transition: 0.25s ease;
			}


			li {
				// flex-grow: 1;
				height: 100%;
				display: flex;
				align-items: center;

				span {
					margin: auto;
				}

				&:before {
					content: none;
				}
			}



		}

		.active-tab {
			flex-grow:2.5;
			//width: auto;
			transition: 0.25s ease;
			//background-color: $active-orange !important; //more minimalist approach
			//background-color: $background-gray !important; //more minimalist approach
			background-color: $orange !important; //slightly more orange approach
			color: $white; //slightly more orange approach
			padding: 0 15px;

			&:hover {
				border-top: 0;
				transition: 0.25s ease;
				color: $white; //slightly more orange approach
			}
		}

		.inactive-tab { //moved to regular tab anchor styling above
			// flex-grow:1;
			// transition: 0.25s ease;
			// padding: 0;
		}

		& a:first-child span {
			margin-left:0;
		}


		& a:last-child span {
			margin-right:0;
		}

	}
}



.hide {
	// display:none;
	width:0%;
	overflow: hidden;
	opacity: 0;
	transition: 0.5s ease;
}



	//  #front-page-tabs .reveal section {
	// 	display: flex;
	// 	width: 100%;
	// 	opacity: 1;
	// 	transition: 0.5s ease;
	// }
