.main-nav {
	//background-color: $orange; //more minimalist approach
	background-color: $white; //more minimalist approach
	border-top: 2px solid $navy; //more minimalist approach
	height: 40px;
	display: flex;
	align-items: center;

	ul {
		list-style: none;
		text-align: center;
		display: flex;
		// width: 100%;	
  		align-items: center;
  		justify-content: space-between;
  		padding: 0;
  		margin-bottom: 0;
  		height: 100%;

  		a {
			//color: $white; //more minimalist approach
			color: $navy; //more minimalist approach
			font-weight: 600;
			height: 100%;
			// width: 100%;
			// margin: auto;
			//background-color: $orange; //more minimalist approach
			background-color: $white; //more minimalist approach
			transition: 0.25s ease;
			text-decoration: none;
			border-bottom: solid 0px $background-gray;
			padding:0 15px;

			&:hover {
				text-decoration: none;
				//color: $white; //more minimalist approach
				color: $orange; //more minimalist approach
				// background-color: #ff5000;
				border-bottom: solid 5px $background-gray;
				transition: 0.25s ease;
			}		


			li {
				// flex-grow: 1;
				height: 100%;
				display: flex;
				align-items: center;

				span {
					margin: auto;
					}
			}



		}

		.active-tab {
			flex-grow:4;
			transition: 0.25s ease;
			//background-color: $active-orange !important; //more minimalist approach
			background-color: $background-gray !important; //more minimalist approach

			&:hover {
				border-bottom: 0;
				transition: 0.25s ease;
			}
		}

		.inactive-tab {
			flex-grow:1;
			transition: 0.25s ease;
		}

		& a:first-child span {
			margin-left:0;
		}


		& a:last-child span {
			margin-right:0;
		}

	}
}



.hide {
	// display:none;
	width:0%;
	overflow: hidden;
	opacity: 0;
	transition: 0.5s ease;
}

.show {
	display: flex;
	width: 100%;
	opacity: 1;
	transition: 0.5s ease;
}

