// body {
// 	display: flex;
// }



@font-face {
	font-family: 'Warehouse Gothic';
	src:  url('../fonts/WarehouseGothic1.1.3-Rg.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Warehouse Gothic';
	src:  url('../fonts/WarehouseGothic1.1.2-RgIt.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Warehouse Gothic';
	src:  url('../fonts/WarehouseGothic1.1.3-Bd.woff') format('woff');
	font-weight: 600;
}



@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);


html, body {
	height: 100%;
	background-color: $background-gray;
	// background-image: url("../images/bitmap-thundernixon2015wp.svg");
	// background-size: 15px 15px;
	// background-repeat: repeat;
	font-size: 16px; //16px
	line-height: 1.5em;
	color: $body-text;

	//@media $laptop{
		font-family:'Warehouse Gothic', Helvetica Neue, sans-serif;
		text-rendering: optimizeLegibility;
	//}
}

//Typography

$serif: "ff-spinoza-web-pro",'PT Serif', serif;

.serif {
	font-family: $serif;
}

a {
	color: $navy;

	&:hover {
		color: $orange;
		transition: 0.25s ease;
	}

	&:focus {
		color: $orange;
  		outline: thin dotted !important;
	}
}



p, li {

	a {
		//text-decoration: underline;
		text-decoration: none;
		border-bottom: 2px solid $white;
		box-shadow: inset 0 -4px 0 $white;
		transition: .5s ease;
		background-color: transparent;
		padding: 0 .15em;
		margin: 0 -.15em;

		&:hover {
			text-decoration: none;
			border-bottom: 2px solid $white;
			box-shadow: inset 0 -4px 0 $white;
			background-color: $white;
			transition: .25s ease;
		}
	}
}

#wp-toolbar a {
	border-bottom: none;
	box-shadow: none;
}

::selection {
  background: rgba($active-orange, 0.4);
}

h1, h2 {
	font-weight: 600;
}

h1 {
	color: $orange;
}

h2 {
	font-family: 'Warehouse Gothic', sans-serif;
	padding: 1% 10%;
	border-bottom: 2px solid $white;

	@include breakpoint(tablet) {
		padding: 1% 0%;
		max-width: 600px;
	}
}

ul {
	li {
		list-style: none;

		&:before {
			font-family: Warehouse Gothic, sans-serif;
			font-weight: bold;
			content: "\2192";
			margin: 0 3px 0 -15px;
		}
	}
}

ol {
	li{
		font-variant-numeric: tabular-nums;
  // -moz-font-feature-settings: "tnum";
  // -ms-font-feature-settings: "tnum";
  // -webkit-font-feature-settings: "tnum";
  	font-feature-settings: "tnum";
	}
}

.small-caps {
	text-transform: uppercase;
	letter-spacing: .09em;
	font-size: .85em;
  	font-weight: bold;
  	transform: translateY(.08em);
}


@supports(font-feature-settings: "smcp") {
    .small-caps {
      text-transform: lowercase;
			font-feature-settings: "smcp";
			font-size: 1em;
			letter-spacing: .08em;
			transform: translateY(0em);
    }
}

picture {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.caption {
	font-size: .8em;
	font-style: italic;
	position: relative;
	top: -2.3em;
	margin: .5em 0;
	font-weight: bold;
	//border-top: 2px solid $body-text;
}
