// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
// Stephen's additions
$green: 				#00ef00;
$white:					#ffffff; // #fcfcfc
$off-white:				#ededed;
$light-gray:		#FFC78C; //previously #C6F7F2 #B7FFF8 #B8F5FF #D2D2D2 #FFEEE7
$medium-gray:    #D7F4FF; //#EFFAFF #FFEEE7 #FFCA9D #FFEEE7 #D2D2D2
$background-gray: rgba($medium-gray, 0.35)	;	// #D7F4FFpreviously #f7f7f7 #f8f8f8	#FFF7F4 #FFEEE7 #FFEAE2 #FFF2EC #f9f9f9 #F5F5F5  #f9f9f9
$body-text:				#3D3D3D; 	//previously #666  #45454F
$orange:				#FF6200;  	//previously #FF7825 #ff5000 #FF8F5E
$active-orange:			#FF7825;
$red:           #ff0000;
$navy:					#3D3D3D; //previously #414061, now just $body-text


//Typography
$serif: "ff-spinoza-web-pro", Palatino Linotype, serif;
$sans: 'Warehouse Gothic', Franklin Gothic Medium, Helvetica Neue, sans-serif;



//Media Queries

// $phone:					"only screen and (max-width : 320px)";
// $tablet:				"only screen and (max-width : 600px)";
// $laptop:				"only screen and (max-width : 1200px)";
// $large-window:			"only screen and (max-width : 1500px)";


@mixin breakpoint($point) {

  @if $point == huge-window {
    @media (min-width: 1600px) { @content; }
  }
  @if $point == large-window {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == laptop {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 1000px) { @content; }
  }
  @else if $point == medium_tablet {
    @media (max-width: 860px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 650px)  { @content; }
  }
  @else if $point == tiny-window {
    @media (max-width: 330px)  { @content; }
  }
}
