// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
// Stephen's additions
$green: 				#00ef00;
$white:					#ffffff;
$off-white:				#ededed;
$light-gray:			#D2D2D2;
$background-gray:		#f9f9f9;	//previously #f9f9f9 #F5F5F5
$body-text:				#45454F;	//previously #666
$orange:				#FF8F5E;  	//previously #ff5000
$active-orange:			#FF7825;
$navy:					#414061;



//Media Queries

// $phone:					"only screen and (max-width : 320px)";
// $tablet:				"only screen and (max-width : 600px)";
// $laptop:				"only screen and (max-width : 1200px)";
// $large-window:			"only screen and (max-width : 1500px)";


@mixin breakpoint($point) {

  @if $point == huge-window {
    @media (min-width: 1600px) { @content; }
  }
  @if $point == large-window {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == laptop {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 1000px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 650px)  { @content; }
  }
  @else if $point == tiny-window {
    @media (max-width: 330px)  { @content; }
  }
}