.fourohfour-wrap{
  text-align: center;
  padding-bottom: 10vh;
  color: $orange;
  text-decoration: underline;

  #fourohfour {
    margin: 0 auto;
      img{
        width: 100%;
        max-width: 800px;
        margin: 10vh auto 0;
      }
  }
}
