.about-modal {
	height: 100%;
	width: 100%; //comment again
	display: flex;

	.fade {
		background-color: rgba( $active-orange, .8 );
	}


	.modal {
		height: 100%;
		width: 100%;

		.modal-content{
			padding: 0px;
			overflow: scroll;

			// &:-webkit-scrollbar {
			// 	width: 4px;
			// }


			// &:-webkit-scrollbar-track {
				
			// 	background: #eee;
			// }

			// &:-webkit-scrollbar-thumb {
			// 	background: #orange;
			// }

			.modal-header {
				border-bottom: none;
				padding: 20px;

				.close{
					width: 60px;
					height: 60px;
					position: fixed;
					// top: 20px;
					// right: 22px;
					// border: 2px solid $orange;
					//color: $orange;
					top: 2px;
					right: -80px;
					border: 2px solid #fff;
					color: $white;
					opacity: 1;
					text-shadow: none;

					&:hover {
						opacity: 1;
						// color: $white;
						color: $orange;
						background-color: $white;
						text-shadow: none;
					}

					@include breakpoint(tablet) {
						top: 20px;
						right: 22px;
						border: 2px solid $orange;
						color: $orange;
						z-index: 2;

						&:hover {
							color: $white;
							background-color: $orange;
						}
					}
				

				}
			}

			.modal-body {
				overflow: scroll;
				padding: 20px;
			}

			section {
				margin-bottom: 2em;
			}

			p {
				font-family: 'PT Serif', serif;
			}
		}
		



		
		.modal-dialog {
			height: 80vh;
			width: 50vw;
			margin: 10vh auto;
     	
	     	@include breakpoint(tablet) {
					height: 95vh;
					width: 95vw;
					margin: 2.5vh auto;
				}

				.modal-content {
					background-color: $white;
					padding: 20px;
					border: none;
					border-radius: 0;
					box-shadow: none;
					height: 100%;
					width: 100%;
				}
		}
	}
}