footer {
	background-color: $body-text;
	color: $off-white;
	//height: 10%;
	min-height: 80px;
	padding: 40px;
	border-top: 2px solid $background-gray;

	// padding: 60px;

	h1 {
		font-size: 2.441em;
		line-height: 1em;
		margin: 0;
		float: left;
		color: rgba($white, .075);

	}

	a {
		color: $off-white;
	}


	.contact {
		float: right;
	}
}

