.container[role="document"] {
  min-height: 82%;
  background-color:$background-gray;

  	.content{
		margin-bottom: 3em;
	}
}

#front-page-tabs {
	background-color: $background-gray;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	// height: 1000px;
	flex-wrap: nowrap;
  min-height: 80vh; //makes blog take up full height even on pretty large viewports

	section {
		width: 100%;
		// height: 1000px;
		// overflow: auto;
		//display: none;
	}




	#work, #typefloundry {
		//padding: 0 17px
	}

	h1{
		color: $light-gray;
		font-size: 2em;

		&:before {
		  display: block;
		  content: " ";
		  margin: -100px 0 2em;
		  height: 100px;
		  visibility: hidden;
		}
	}

  h2 {
    font-weight: bold;
  }

	.front-page-section-intro {
		text-align: center;
		font-style: italic;
		font-family: $serif;
		font-size: 1.25em;
		transform: translateY(-3.5em);
		// color: $orange;
	}

}

.conceal {
	display:none;
}

.reveal {
	display: block;
	width: 100%;
	opacity: 1;
	transition: 0.5s ease;
}

article {
	header {
  		background-color: transparent;
  		color: $body-text;
      transition: .25s ease-in;
	}
  //apply following only to front page list
}
