#instafeed {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between; //previously center
	margin: -49px -20px 20px;
	font-weight: bold;

	a {
		// flex-basis: 280px;
		flex-grow: 1;
		// margin: 20px;
		padding: 15px;
		max-width: 380px;
		flex-basis: 300px;
		color: $body-text;
		font-size: .8em;
		box-shadow: 0px 0px $orange;
		transition: .25s ease-in;
		margin-bottom: 1.5em;

		&:hover {
			background-color: $white;
			text-decoration: none;
			box-shadow: 2px 2px $background-gray, 4px 4px $orange;
			transition: .5s ease-out;
		}

		img {
			margin-bottom: 10px;
			width: 100%;
			filter: grayscale(1);
			// box-shadow: 2px 2px 0px 0px $orange;
			// border: 2px solid $white;
			transition: .25s ease-in;

			@include breakpoint(tablet) {
				filter: grayscale(0);
			};
		}

		&:hover img {
			filter: grayscale(0);
			transition: .5s ease-out;
		}
	}


}

#typefloundry {
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 3em;

	// button {
	// 	width: 300px;
	// 	background-color: $white;
	// 	color: $orange;
	// 	font-weight: bold;
	// 	height: 40px;
	// 	text-align: center;
	// 	text-transform: uppercase;
	// 	margin: auto;
	// 	border: 2px solid $orange;
	// 	display: block;
	// }
}
