header {
	background-color: $white;
	height: 40px;
	display: flex;
  align-items: center;

	#logo{
		width: 26px; // 135px; animated in pieces //114.75px
	 	overflow: hidden;
	 	display: block;
	 	position: relative;
	 	top: 11px; //12px;
		left: -1.75em;

		img {
			// width: 247px;
			// position: relative;
			// right: 109px;
			width: 433px;  // 368.05px
			position: relative;
			right: 274px; // 232.9px
			animation: lightning 1s 5.25s steps(10) 2;

			//
			// &:hover {
			// 	animation: lightning 1s steps(10) infinite;
			// }
		}

		@include breakpoint(medium_tablet) {
			display: none;
		}

	}

	#brand_container:hover{
			#logo img {
				animation: lightning 1s steps(10) infinite;
			}
			.brand {
				color: $orange; //$body-text;
				transition: .25s ease-out;
			}
	}

  	#site-logo {
  		width: 3em;
		height: 3em;
		position: fixed;
		top: 1em;
		right: 1em;
		z-index: 5000;
		background-color: white;
		padding: 5px;
		border: 2px solid #FF7825;
  	}

	a {
		//color: $orange; //more minimalist approach
		color: $navy; //more minimalist approach
		font-weight: 600;

		&:hover {
			text-decoration: none;
			//text-decoration: underline;
			//color: $body-text; //more minimalist approach
			color: $orange; //more minimalist approach
		}



	}

	.brand {
		@extend .small-caps;
		//text-transform: uppercase;
		//font-size: .8em;
		//font-weight: normal; //with "thunder"
		font-weight: bold;
		position: fixed;
		letter-spacing: .08em; // 0.4em; side
		// top: 43.5%;; //with "thunder"
		// right: -9em; //with "thunder"
		// top: 48.3%; //side
		// right: -5.21em; //side
		top: 1%;
		// left: 5.4em;
		float: left;
		color: $body-text; //$medium-gray; //$orange;
		z-index: 100;
		// transform: rotate(90deg);
		transition: .15s ease-in;

		// &:hover {
		// 	color: $orange; //$body-text;
		// 	transition: .25s ease-out;
		// }

		@include breakpoint(tablet) {
			position: absolute;
		}

		@include breakpoint(phone) {
			// font-size: .8em;
			// right: -9.25em;
		};
		@include breakpoint(tiny-window) {
			// font-size: .8em;
			//right: -15.25em;
			// right: -8.75em;
			display: none;
		};
	}

	.about-modal-link {
		//font-weight: normal;
		float: right;
		position: relative;
    top: -15px;
		// text-transform: uppercase;
		// font-size: .8em;
		// letter-spacing: .08em;

		@include breakpoint(medium_tablet) {
			top: 0px;
		}
	}
}

// @keyframes lightning {
// 		0% {
// 			transform: translateX(-27.1px);
// 		}
// 		20% {
// 			transform: translateX(-54.2px);
// 		}
// 		40% {
// 			transform: translateX(-81.3px);
// 		}
// 		80% {
// 			transform: translateX(-108.4px);
// 		}
// 		100% {
// 			transform: translateX(0px);
// 		}
// 	}

	@keyframes lightning {
   from { transform: translateX(0px) }
     to { transform: translateX(274.25px) }
}
//137
// 233.1125px
