header {
	background-color: $white;
	height: 40px;
	display: flex;
  	align-items: center;

	a {
		//color: $orange; //more minimalist approach
		color: $navy; //more minimalist approach
		font-weight: 600;

		&:hover {
			//text-decoration: underline;
			//color: $body-text; //more minimalist approach
			color: $orange; //more minimalist approach
		} 
	}

	.about-modal-link {
		float: right;
		// text-transform: uppercase;
		// font-size: .8em;
		// letter-spacing: .08em;
	}
}