#instafeed {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;

	a {
		// flex-basis: 280px;
		flex-grow: 1;
		// margin: 20px;
		padding: 20px;
		max-width: 380px;
		flex-basis: 300px;
		color: $body-text;
		font-size: .8em;

		&:hover {
			background-color: $white;
			text-decoration: none;
		}

		img {
			margin-bottom: 10px;
			width: 100%;
			// box-shadow: 2px 2px 0px 0px $orange;
			// border: 2px solid $white;
		}
	}


}

#section-2 {
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 60px;

	// button {
	// 	width: 300px;
	// 	background-color: $white;
	// 	color: $orange;
	// 	font-weight: bold;
	// 	height: 40px;
	// 	text-align: center;
	// 	text-transform: uppercase;
	// 	margin: auto;
	// 	border: 2px solid $orange;
	// 	display: block;
	// }
}