//@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);


.blog-single-post {


	padding: 0em 15px;

	header {
		//height: auto;
		//height: 1em;
		display: flex;
		align-items: flex-start;
		margin-bottom: 1em;
		height: 1em;

		@include breakpoint(phone) {
			height: auto;
		}

		.entry-title {
			//font-size: 8em;
			//margin-top: -40px;
			//color: rgba($white, .7);
			font-size: 5.96em;
			margin-top: 53px;
			line-height: 1.03em;
			padding: 20px;
			color: $medium-gray; // $background-gray $light-gray

			@include breakpoint(tablet) {
				margin-top: 42px;
				font-size: 5.5em;
				line-height: 1.1em;
				//margin-top: 36px;
			}

			@media (max-width: 700px) {
				font-size: 4.5em;
    		line-height: 1.03em;
			}

			@include breakpoint(phone) {
				font-size: 1.953em;
				height: auto;
				margin-top: 1em;
				padding: 0;
				color: $body-text;
				text-shadow: 1px 1px $background-gray, 3px 3px $white;
			}

			@include breakpoint(tiny-window) {
				font-size: 2em;
				//margin-top: .25em;
			}
		}

	}

	.entry-content {
		//max-width: 600px;
		font-size: 23px;
		line-height: 1.5em;
		margin: 1em auto;

		// h2 {
		// 	font-family: 'Warehouse Gothic', sans-serif;
		// 	padding: 1% 10%;
		// 	border-bottom: 2px solid $white;
		//
		// 	@include breakpoint(tablet) {
		// 		padding: 1% 0%;
		// 		max-width: 600px;
		// 	}
		// }

		p, li {
			max-width: 650px; //600px
  			margin: 1em auto;
		}

		p:first-child {
			font-size: 1.43em;
			line-height: 1.5em;
			font-weight: 700;
			width: 100%;
			max-width: 100%;
			/* margin-left: -40%; */
			/* margin: 0; */
			padding: 5% 10%;
			//border: 2px solid #3D3D3D;
			background-color: $white; //

			@include breakpoint(tablet) {
				width: 100%;
				margin-left: 0;
			}

			@include breakpoint(phone) {
				//margin-top: 4em;
				box-shadow: 8px 0 $white, -8px 0 $white;
				padding: 2.5% 2.5%;
				font-size: 1.25em;
			}

			@include breakpoint(tiny-window) {
				font-size: 20px;
				border: none;
				// box-shadow: 15px 0 $white, -15px 0 $white;
				// padding: 2.5% 0;
			}

		}

		blockquote {
			font-size: 16px;
			border-left: none;
			max-width: 860px;
			margin: auto;
			    padding: 0em 1.25em; //0 1.5em

			p:first-child{
				background-color: transparent;
				border: 2px solid $medium-gray; //$background-gray $white
				margin: 0;
			}
			p:last-child:after {
				content: "";
			}
		}

		p:last-child:after {
			content: " \26A1";
		}

		a {
			text-decoration: none;
			//color: $orange;

		}

		ul {
			padding-left: 15px;
		}

		li,p {
			margin-bottom: 1em;

			// a {
			// 	border-bottom: 2px solid $orange;
			// }
		}

	}

	@include breakpoint(phone) {
		padding: 0 15px;

		.entry-content {
			font-size: 20px;
			margin-top: 0;

			// .entry-content p:first-child {
			// 	font-size: 1.25em;
			// }
		}


	}

	footer {
		background-color: transparent;
	}

}
