//@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic);


.blog-single-post {


	padding: 3em 15px;

	header {
		//height: auto;
		height: 1em;
		display: flex;
		align-items: flex-start;

		.entry-title {
			//text-align: center;
			//font-size: 6em;
			font-size: 8em;
			/* width: 50%; */
			//margin-top: 3em;
			margin-top: -40px;
			color: rgba($white, .7);

			@include breakpoint(tablet) {
				font-size: 6em;
			}

			@include breakpoint(phone) {
				font-size: 4em;
				//margin-top: 6em;
			}
		}

	}

	.entry-content {

		p:first-child {
			font-size: 1.563em;
			line-height: 1.5em;
			font-weight: bold;
			width: 130%;
			margin-left: -15%;

			@include breakpoint(tablet) {
				width: 100%;
				margin-left: 0;
			}

		}

		a {
			text-decoration: underline;
			color: $orange;
		}

		ul {
			padding-left: 15px;
		}

		li,p {
			margin-bottom: 1em;
		}

	}

	@include breakpoint(phone) {
		padding: 0 15px;

		.entry-content {
			font-size: 1em;
			margin-top: 0;

			// .entry-content p:first-child {
			// 	font-size: 1.25em;
			// }
		}


	}

}

